.slide1 {
  text-align: center;
  padding-bottom: 200px;
}

.name {
  font-family: "Carme", sans-serif;
  font-size: 100px;
  margin-top: 100px;
}

.myTitle {
  font-family: "Carme", sans-serif;
  font-size: 40px;
  margin-bottom: 100px;
}

.title {
  font-family: "Carme", sans-serif;
  font-size: 70px;
}

.colmn {
  flex-flow: column;
}

@media only screen and (max-width: 985px) {
  .name {
    font-size: 8.1vw;
  }
  .myTitle {
    font-size: 4.1vw;
  }
  .title {
    font-size: 6.1vw;
  }
}
